*.pth

*.weights
*.cfg
*.pt
*.jpg
*.PNG
*.jpeg
*.atikeep
*.pyc
05_MARKRCNN/pyProj/pytorch_mask_rcnn/gpu_info.json
05_MARKRCNN/unnett/result/*
06_wesersteinGGG/data/*
06_wesersteinGGG/torch_data/*
06_wesersteinGGG/runs/*
*.pyc
*.json
*ubyte
*.gz
*.pyc
06_wesersteinGGG/to_reportlab6/*
06_wesersteinGGG/to_reportlab6/task1/data/*
06_wesersteinGGG/to_reportlab6/task1/torch_data/*
06_wesersteinGGG/to_reportlab6/task1/runs/*